<footer>
    <div class="wrapper">
        <img class="logo_footer" src="{{ '/assets/img/' | append: 'logo_footer.png' | absolute_url }}" alt="Blogin Logo" title="Blogin Logo">
        <p class="rights">© 2018 Blogin.com  -  All Rights Reserved  -  Find more free Templates at <a href="http://Pixelhint.com" target="_blink">Pixelhint.com</a> </p>
        <ul class="social_profiles">
            <li class="f"><a href="http://facebook.com/" target="_blink"></a></li>
            <li class="t"><a href="http://twitter.com/" target="_blink"></a></li>
            <li class="be"><a href="http://behance.net/" target="_blink"></a></li>
            <li class="d"><a href="http://dribbble.com/" target="_blink"></a></li>
        </ul>
    </div>
</footer><!-- Footer End -->

</body>
</html>